@import '@stylesheets/mixin.scss';

.main-button {
  @include notosans($font-size: var(--fontSize-2));
  width: 284px;
  height: 50px;
  border: none;
  border-radius: 25px;
  color: var(--color-white);
  background-color: var(--color-text);

  &:hover {
    cursor: pointer;
    color: var(--color-text);
    background-color: var(--color-orange);
  }

  &:active {
    transform: scale(0.95);
  }
}
