.main-button {
  width: 100px;
  height: 50px;
  color: var(--color-white);
  background-color: var(--color-text);

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: scale(0.95);
  }
}
