@import '@stylesheets/mixin.scss';

.content-question-intro {
}

.content-question {
  margin-top: 3vh;
  margin-bottom: 5vh;
  width: calc(100% - 42px);
  padding: var(--fontSize-1) 20px;
  border: 1px solid var(--color-black);
  font-weight: 600;
}

.answer-btn {
  margin-bottom: var(--fontSize-1);
  margin-left: 10px;

  &:hover {
    cursor: pointer;
    font-weight: 600;
    color: var(--color-dark-orange);
  }

  &:active {
    transform: scale(0.9);
  }
}
