@import '@stylesheets/mixin.scss';

.question-number {
  color: var(--color-orange);
}

.question-number,
.content-question {
  @include notosans(
    $font-size: var(--fontSize-4),
    $font-weight: var(--fontWeight-7)
  );
  line-height: var(--fontSize-2);
  margin-bottom: var(--fontSize-4);
}

.content-btn-section {
  @include flexbox(
    $direction: column,
    $justify-content: center,
    $align-items: center
  );
  margin-top: 100px;

  .answer-btn {
    @include notosans($font-size: var(--fontSize-1));
    border: 2px solid var(--color-gray2);
    border-radius: 10px;
    background-color: var(--color-white);
    min-width: 300px;
    width: 100%;
    height: 80px;
    padding: 20px;
    margin-bottom: 10px;

    &:hover {
      cursor: pointer;
      border: none;
      color: var(--color-white);
      background-color: var(--color-orange);
    }

    &:active {
      transform: scale(0.9);
    }
  }
}
