@import '@stylesheets/mixin.scss';

.home-title-section {
  position: relative;

  .home-title-deco {
    @include notosans(
      $font-size: var(--fontSize-1),
      $font-weight: var(--fontWeight-7)
    );
    position: absolute;
    left: -40px;
    top: -10px;
    transform: rotate(-12deg);
  }

  .home-main-title {
    @include notosans(
      $font-size: var(--fontSize-4),
      $font-weight: var(--fontWeight-7)
    );
    margin: 10px 0;
  }

  .home-sub-title {
    @include notosans($font-size: var(--fontSize-1));
    text-align: center;
  }
}

.home-img-section {
  width: 300px;
  height: 300px;
  margin: 10px 0;
  border: solid 1px black;
}
