@import '@stylesheets/mixin.scss';

.home-logo {
  margin-bottom: var(--fontSize-1);

  .logo-img {
    width: 120px;
  }
}

.home-title-section {
  position: relative;

  .home-main-title {
    @include notosans(
      $font-size: var(--fontSize-6),
      $font-weight: var(--fontWeight-7)
    );
    text-align: center;
    margin: var(--fontSize-0) 0;
  }

  .home-sub-title {
    @include notosans(
      $font-size: var(--fontSize-3),
      $font-weight: var(--fontWeight-3)
    );
    color: var(--color-gray3);
    text-align: center;
  }
}

.home-img-section {
  width: var(--min-width);
  height: var(--min-width);
  margin: var(--fontSize-2) 0;
}

.home-start-section {
  margin-bottom: var(--fontSize-1);
}

footer {
  .footer-copyright {
    margin: var(--fontSize-0) 0;
  }

  .footer-contact {
    text-align: center;
    @include notosans(
      $font-size: var(--fontSize-0),
      $font-weight: var(--fontWeight-3)
    );
  }
}
