@import '@stylesheets/mixin.scss';

.main {
  @include flexbox(
    $direction: column,
    $justify-content: center,
    $align-items: center
  );

  width: calc(100% - 20px);
  padding: var(--fontSize-1) 10px;
  max-width: 420px;
}
