@import '@stylesheets/mixin.scss';

.main {
  @include flexbox($direction: column, $align-items: center);

  width: calc(100% - 20px);
  padding: var(--fontSize-1) 10px;
  max-width: 420px;
  transform: translateY(-3%);
  // border: 2px solid var(--color-gray2);
}
