@import '@stylesheets/mixin.scss';

.main {
  @include flexbox(
    $direction: column,
    $justify-content: center,
    $align-items: center
  );

  width: 100%;
  padding: var(--fontSize-1) 10px;
  max-width: var(--max-width);
}
