/* noto-sans-kr-100 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url('./stylesheets/fonts/noto-sans-kr-v21-latin_korean-100.woff2')
      format('woff2'),
    url('./stylesheets/fonts/noto-sans-kr-v21-latin_korean-100.woff')
      format('woff');
  unicode-range: U+000-5FF, U+AC00-D7AF;
  font-display: fallback;
}
/* noto-sans-kr-300 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url('./stylesheets/fonts/noto-sans-kr-v21-latin_korean-300.woff2')
      format('woff2'),
    url('./stylesheets/fonts/noto-sans-kr-v21-latin_korean-300.woff')
      format('woff');
  unicode-range: U+000-5FF, U+AC00-D7AF;
  font-display: fallback;
}
/* noto-sans-kr-500 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url('./stylesheets/fonts/noto-sans-kr-v21-latin_korean-500.woff2')
      format('woff2'),
    url('./stylesheets/fonts/noto-sans-kr-v21-latin_korean-500.woff')
      format('woff');
  unicode-range: U+000-5FF, U+AC00-D7AF;
  font-display: fallback;
}
/* noto-sans-kr-regular - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('./stylesheets/fonts/noto-sans-kr-v21-latin_korean-regular.woff2')
      format('woff2'),
    url('./stylesheets/fonts/noto-sans-kr-v21-latin_korean-regular.woff')
      format('woff');
  unicode-range: U+000-5FF, U+AC00-D7AF;
  font-display: fallback;
}
/* noto-sans-kr-700 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url('./stylesheets/fonts/noto-sans-kr-v21-latin_korean-700.woff2')
      format('woff2'),
    url('./stylesheets/fonts/noto-sans-kr-v21-latin_korean-700.woff')
      format('woff');
  unicode-range: U+000-5FF, U+AC00-D7AF;
  font-display: fallback;
}
/* noto-sans-kr-900 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url('./stylesheets/fonts/noto-sans-kr-v21-latin_korean-900.woff2')
      format('woff2'),
    url('./stylesheets/fonts/noto-sans-kr-v21-latin_korean-900.woff')
      format('woff');
  unicode-range: U+000-5FF, U+AC00-D7AF;
  font-display: fallback;
}
