:root {
  --color-white: #ffffff;
  --color-text: #222222;
  --fontSize-0: 0.85rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem;
}
