:root {
  --color-white: #ffffff;
  --color-text: #222222;
  --color-orange: #ffba1b;
  --color-dark-orange: #da9000;
  --color-gray1: #eaeaea;
  --color-gray2: #bdbdbd;
  --color-gray3: #808080;
  --color-background: #dfdfe6;
  --fontSize-0: 0.85rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2rem;
  --fontSize-6: 2.68rem;
  --fontSize-7: 2.986rem;

  --fontWeight-1: 100;
  --fontWeight-3: 300;
  --fontWeight-5: 500;
  --fontWeight-7: 700;
  --fontWeight-9: 900;

  --min-width: 300px;
  --max-width: 440px;
}
