@import "@stylesheets/mixin.scss";

.success-toast-msg,
.fail-toast-msg {
  position: fixed;
  top: 20px;
  right: 10px;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.result-header {
  margin-top: 24px;
  text-align: center;

  & > h3 {
    @include scdream($font-size: var(--fontSize-3), $font-weight: 500);
    line-height: var(--fontSize-4);
  }

  & > h1 {
    @include scdream($font-size: var(--fontSize-5), $font-weight: 800);
    line-height: var(--fontSize-6);
  }
}

.result-hashtag {
  margin-top: var(--fontSize-1);
  & > p {
    display: inline-block;
    padding: 6px var(--fontSize-1);
    border: 1px solid var(--color-black);
    border-radius: var(--fontSize-1);
    margin: 5px 3px 0 0;
  }
}

.result-character {
  width: 100%;

  & > img {
    margin: 20px 0;
    width: 100%;
  }
}

.result-graph {
  @include flexbox($justify-content: center, $align-items: center);
  position: relative;
  width: 100%;
  height: 200px;
  border: 1px solid var(--color-black);
  border-radius: var(--fontSize-4);

  & > div {
    width: 200px;
    height: 200px;
    position: absolute;;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .skill{
    position: absolute;
    font-weight: bold;
  }
  .art {
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
  }

  .liberal {
    bottom: 15px;
    left: calc(50% - 108px);
    transform: translateX(-50%);
  }

  .science {
    bottom: 15px;
    left: calc(50% + 108px);
    transform: translateX(-50%);
  }
}

.result-overview,
.result-recommend {
  width: 100%;

  & > section {
    height: 50px;
    display: flex;
    flex-basis: 100%;
    align-items: center;

    .double-line {
      height: calc(var(--fontSize-1) / 4);
      border-top: 2px solid var(--color-black);
      border-bottom: 1px solid var(--color-black);
    }
  }

  .content-container {
    @include flexbox($justify-content: space-between);

    & > img {
      padding: 4px 6px 0 0;
      width: 16px;
      height: 16px;

    }

    & > .result-content {
      width: 100%;
      margin-bottom: var(--fontSize-0);
      line-height: var(--fontSize-3);
    }
  }
}

.result-overview {
  section > p {
    width: 83px;
    text-align: center;
  }

  .double-line {
    width: calc((100% - 83px) / 2);
  }
}

.result-recommend {
  section > p {
    width: 165px;
    text-align: center;
  }

  .double-line {
    width: calc((100% - 165px) / 2);
  }
}

.result-btn {
  @include flexbox($direction: column, $justify-content: center, $align-items: center);
  margin-top: 20px;
  margin-bottom: 4vh;
  width: 100%;

  a,
  button {
    width: 100%;
    max-width: 230px;
  }

  button {
    @include flexbox($justify-content: space-between, $align-items: center);
    border: 1px solid var(--color-black);
    border-radius: 32px;
    padding: var(--fontSize-0) var(--fontSize-2);
    margin-top: 10px;

    &:active {
      transform: scale(0.95);
    }
  }
}
