@import './stylesheets/font.scss';
@import './stylesheets/variables.scss';
@import './stylesheets/reset.scss';
@import './stylesheets/mixin.scss';

html {
  @include notosans();
  color: var(--color-text);
}

html,
body {
  height: 100%;
}

#app {
  width: 100%;
  min-height: 100%;
  background: var(--color-background);
  @include flexbox($justify-content: center);
}
