@import './stylesheets/font.scss';
@import './stylesheets/variables.scss';
@import './stylesheets/reset.scss';
@import './stylesheets/mixin.scss';

html {
  @include notosans();
  color: var(--color-text);
}

main {
  height: 500px;
}

main,
footer {
  @include flexbox(
    $direction: column,
    $justify-content: center,
    $align-items: center
  );
}

.footer-expression {
  margin: 10px 0;
}

.footer-contact {
  @include notosans(
    $font-size: var(--fontSize-0),
    $font-weight: var(--fontWeight-3)
  );
}
