@import './stylesheets/font.scss';
@import './stylesheets/variables.scss';
@import './stylesheets/reset.scss';
@import './stylesheets/mixin.scss';

html {
  @include notosans();
}

main {
  @include flexbox(
    $direction: column,
    $justify-content: center,
    $align-items: center
  );
}
