@import '@stylesheets/mixin.scss';

.test-header {
  width: 100%;

  .header-p-sub {
    @include scdream($font-size: var(--fontSize-2));
    @include flexbox($align-items: center, $justify-content: center);
    margin-top: 6vh;
  }
  .header-p-main {
    @include scdream($font-size: var(--fontSize-5), $font-weight: bold);
    @include flexbox($align-items: center, $justify-content: center);
  }
  .header-p-class1 {
    @include chosunnm();
    width: fit-content;
    padding: calc(var(--fontSize-1) / 3) var(--fontSize-1);
    border: 1px solid var(--color-black);
    border-radius: 16px;
    margin-top: 5vh;
  }
  .header-line-bold {
    width: 100%;
    height: 2px;
    background-color: var(--color-black);
    margin-top: 3vh;
  }
  .header-line-light {
    width: 100%;
    height: 1px;
    background-color: var(--color-black);
    margin-top: 5px;
  }
}

.test-loading {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  .loading-img {
    width: 180px;
    height: 180px;
  }
}

.test-container {
  @include flexbox($align-items: center);
  @include chosunnm();
  width: 100%;
  overflow: hidden;
  margin-top: 4vh;

  .test-content-section {
    @include flexbox($align-items: center);
    transition: transform 0.4s ease-in-out;
  }

  .test-content {
    width: calc(100vw - 20px);
    max-width: 420px;
    @include flexbox($direction: column);
  }
}

.test-progress-section {
  margin-top: 4vh;
  width: 100%;
  overflow: hidden;
}
