@import '@stylesheets/mixin.scss';

.test-loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%);

  .temp {
    @include notosans(
      $font-size: var(--fontSize-5),
      $font-weight: var(--fontWeight-7)
    );
    @include flexbox($justify-content: center, $align-items: center);
    width: 150px;
    height: 150px;
    color: var(--color-text);
    background-color: var(--color-orange);
  }
}

.test-content-section {
  @include flexbox($align-items: center);
  transition: margin-left 0.4s ease-in-out;
}

.test-container {
  @include flexbox($align-items: center);
  width: 440px;
  overflow: hidden;

  .test-content {
    width: var(--max-width);
  }
}

.test-progress-section {
  width: var(--max-width);
}
