@import '@stylesheets/mixin.scss';

.test-loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  .loading-img {
    width: 180px;
    height: 180px;
  }
}

.test-container {
  @include flexbox($align-items: center);
  width: 100%;
  min-width: var(--min-width);
  max-width: var(--max-width);
  overflow: hidden;

  .test-content-section {
    @include flexbox($align-items: center);
    transition: margin-left 0.4s ease-in-out;
  }

  .test-content {
    width: 100vw;
    max-width: 440px;
    min-width: 30px;
  }
}

.test-progress-section {
  width: 100%;
}
